;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
; CONTROLLER
;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

[Controller]
#### (keyboard|ultrasonic)
type        = keyboard
#type        = ultrasonic

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
; ULTRA SONIC
;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

[UltraSonic]
serialPort  = /dev/ttyACM0
position    = true
