;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
; CONTROLLER
;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

[Controller]
; type can be (keyboard|ultrasonic|camera)
type        = camera


;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
; ULTRA SONIC
;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

[UltraSonic]
serialPort  = /dev/ttyACM1
position    = true
twoSensors  = false
shootButton = true

minMovDist  = 10
maxMovDist  = 40
mirror      = true


[Camera]
device      = 1
threshold   = 230
position    = true
mirror      = false

resolutionX = 320
resolutionY = 240

blurRadius  = 41

;resolutionX = 160
;resolutionY = 120
